body {
    background: url("https://i.ytimg.com/vi/svLakCJlANw/maxresdefault.jpg");
}

.titleBox {
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color:rgb(231, 204, 167);
    margin: 0px 200px 0px 200px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    min-width: 300px;
}

h1 {
    color: yellow;
    font-size: 40px;
    text-align: center;
    -webkit-text-stroke: 2px black;
}

.startBox {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#gameOver {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: lightblue;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
    background-color: greenyellow;
    text-align: center;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 40%;
}

#youWin {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: lightblue;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content-two {
    text-align: center;
    background-color: greenyellow;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 40%;
}

#replayButton {
    color: yellow;
    -webkit-text-stroke: 2px black;
}

#game {
    border: 1px solid black;
    /* display: flex; */
    /* display: inline;
    width: 60%;
    height: 35%;
    justify-content: center;
    margin: 50px 200px 30px 200px; */
    background: url("https://pwo-wiki.info/images/4/46/Grass_comparison.png");
    /* position: relative; */
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 450px;
    height: 450px;
    position: relative;
    margin-bottom: 50px;
}

